* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-arrow {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 70px;
  height: 70px;
  background-color: #1e90ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px -1px 17px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -2px -1px 17px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -2px -1px 17px 0px rgba(0, 0, 0, 0.38);
  cursor: pointer;
  z-index: 3;
}
.closed {
  display: none;
}
/* modal-window=================================================================================== */
.modal-window-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-window {
  position: relative;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-window-title {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
  font-size: 24px;
}
.img-modal-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.img-modal {
  width: 100%;
  object-fit: fill;
}
.prise-modal-window {
  padding: 20px 0;
  font-size: 22px;
  font-weight: 500;
  color: #444;
}
.color-red {
  color: red;
}
.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.form-input {
  padding: 15px;
}
.form-input::placeholder {
  font-size: 18px;
}
.form-button {
  border: none;
  padding: 20px;
  font-size: 18px;
  color: white;
  background-color: #35b7f5;
  text-align: center;
}
.text-area {
  min-height: 100px;
}
.text-area::placeholder {
  font-size: 22px;
  padding: 10px;
}
.closed-window {
  position: absolute;
  top: 3%;
  right: 4%;
  font-size: 22px;
  color: #444;
  font-weight: 600;
  cursor: pointer;
}
.display-flex {
  display: flex;
}
.scroll-non {
  overflow: hidden;
}
/* modal-window=================================================================================== */
/* .header========================================================================================= */
.header {
  min-height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 35px;
  font-size: 16px;
}

.link-navigation {
  color: #8e126f;
  position: relative;
}
.link-navigation::after {
  position: absolute;
  content: "";
  top: 22px;
  left: 0;
  height: 3px;
  background-color: #35b7f5;
  width: 0;
  transition: all 0.5s ease;
}
.link-navigation:hover:after {
  width: 100%;
}
.burger {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin-right: auto;
  display: none;
}
.burger-line {
  width: 35px;
  height: 3px;
  background-color: black;
}
.top-line {
  width: 20px;
}
/* main =====================================================================================================*/
.main {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 100%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0)
    ),
    url(./images/2149551400.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.main-title {
  font-size: clamp(28px, 8vw, 74px);
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}
.main-container {
  margin: 0 auto;
  max-width: 1730px;
  padding: 0 15px;
}
.small-paragraph {
  padding: 20px 0;
  font-size: 22px;
}
.big-font {
  font-size: 74px;
  font-weight: 600;
  padding-bottom: 40px;
}
.weight-font {
  font-size: calc(22px 8vw 44px);
  font-weight: 500;
}
/* tab ====================================================================*/
.tab-title-wrap {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 0 3px;
}
.tab-title-item {
  padding: 20px 100px;
  background-color: #35b7f5;
  color: white;
}
.tab-wrapper {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.block-tab {
  border: 1px solid rgb(54, 52, 52);
  padding: 2px;
}
.tab-title-item:hover,
.tab-active {
  color: white;
  background-color: #1e90ff;
  cursor: pointer;
}
.show {
  display: flex;
  justify-content: center;
}
.hite {
  display: none;
}
.img-wpar {
  width: 370px;
  position: relative;
  overflow: hidden;
}
.img-wpar img {
  width: 100%;
  height: 370px;
  object-fit: contain;
  transition: all 0.5s ease;
}
.img-wpar img:hover {
  transform: scale(1.1);
}
/* .swiper-slide {
  position: relative;
} */
.swiper-button-prev,
.swiper-button-next {
  font-weight: 800;
}
.content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 0 5px;
}
.line {
  width: 70%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}
.name-product {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: #444;
}
.description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding-left: 10px;
  padding-right: 5px;
  max-width: 350px;
}
strong {
  color: #444;
  font-weight: 700;
}
.center {
  margin-top: 5px;
  text-align: center;
}
.prise {
  text-transform: uppercase;
  font-size: 24px;
  /* text-decoration: line-through; */
}
.red {
  text-decoration: line-through;
  font-weight: 400;
}
.prise-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0px 50px;
}
.to-buy {
  background-color: #1e90ff;
  border: none;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.to-buy:hover {
  background-color: #026eda;
}
.discount {
  position: absolute;
  left: 3%;
  top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 2;
}
/* tab ====================================================================*/
/* blue-block */
.blue-block {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: #1e90ff;
  margin: 50px 0;
}
.weight-span {
  font-weight: 600;
}
.our-advantages-title {
  text-align: center;
  font-size: 40px;
  color: #444;
  margin-bottom: 20px;
}
.advantages-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 30px 0;
  align-items: baseline;
}
.img-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px 0;
  color: #666;
  width: 380px;
}
.blue-foto-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #1e90ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-line {
  width: 70%;
  height: 1px;
  text-align: center;
  background-color: #95407b;
}
.name-title {
  font-size: 20px;
}
.name-paragraph {
  font-size: 14px;
  max-width: 380px;
  line-height: 20px;
  text-align: center;
}
.reviews {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 100%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0)
    ),
    url(./images/curtain-window.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  color: white;
  margin-bottom: 50px;
}
.reviews-title {
  padding: 15px 0;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}
.last-swiper-wrapper {
  margin: 50px auto;
}
.lastSwiper {
  text-align: center;
  display: flex;
}
.paragraph-reviews {
  margin: 15px 0;
  font-size: 14px;
  line-height: 22px;
}
.last-swiper-wrapper img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.last-swiper {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.name {
  font-size: 16px;
  font-weight: 700;
}
.big {
  width: 50%;
  margin: 10px auto;
}
.no-wrap {
  padding: 15px;
  flex-wrap: nowrap;
}
.big-font {
  font-size: 18px;
  font-weight: 400;
}
.last-block {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0)
    ),
    url(./images/fone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  color: white;
}
.last-title {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  padding: 18px;
  border-bottom: 1px solid white;
}
.last-paragraph {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 28px;
  font-weight: 500;
}
/* footer ==============================================================*/
.footer {
  background-color: #1e90ff;
  padding: 20px;
  color: white;
  text-align: center;
}
.footer-paragraph {
  font-size: 12px;
  margin-top: 10px;
}
.footer-link {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  color: white;
}
.footer-link:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.lazy-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 1s ease;
  z-index: 2;
}

.lazy-wrapper.loaded {
  opacity: 1;
  transform: translateY(0);
}

.loader {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: #026eda;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lazy-wrapper.lazy .block-tab {
  visibility: hidden;
}
.show-loader {
  display: block;
}
.wpaaaap {
  position: relative;
}
/* ================================================================================================================== */
@media (max-width: 1000px) {
  .tab-title-wrap {
    flex-direction: column;
    gap: 10px 0;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .no-wrap {
    flex-wrap: wrap;
  }
  .modal-window {
    margin: 30px 0;
    width: 90%;
  }

  .text-area {
    margin-top: 10px;
  }
  .modal-window-wrapper {
    align-items: flex-start;
  }
}
@media (max-width: 550px) {
  .navigation {
    display: none;
  }
  .burger {
    display: flex;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    flex-direction: column;
    background-color: #8e126f;
    gap: 15px 0;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .link-navigation {
    z-index: 5;
    color: white;
  }
  .closed {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
    font-weight: 600;
    color: white;
    transition: all 0.5s ease;
  }
  .navigation:target {
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  .loader {
    top: 1%;
  }
  .form-input::placeholder {
    font-size: 14px;
  }
  .text-area::placeholder {
    font-size: 16px;
  }
}
